{ "presets": [ [ "@babel/env"
               , { "targets": { "browsers": [ "last 2 chrome versions"
                                            , "last 2 chromeandroid versions"
                                            , "firefox esr"
                                            , "last 2 firefox versions"
                                            , "edge >= 17"
                                            , "safari >= 12"
                                            , "ios >= 12"
                                            ]
                              }
                 , "debug": true
                 , "include": [ ]
                 }
               ]
             ]
}
